
* {
  margin: 0px;
  
}

/* Navbar Styling */

.nav-container {
  display: flex;
  justify-content: right;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  font-family: 'Courier Prime', monospace;
}

.nav-item-name {
  margin-right: auto;
}

.nav-item-name:hover span {
  display: none
}

.nav-item-name:hover:before {
  content: "😎"
}

.nav-container > div {
  padding: 20px;
  margin-bottom: 0px;
  font-size: 15px;
  color: #000000;
}

.nav-container > div:hover {
  color: #ff0000;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Titan One', cursive;
}
